.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 100%;
	max-width: 419px;
}

.btn,
.dots {
	width: 53px;
	height: 44px;
	padding: 12px;
	border: 0;
	border-radius: 16px;
	outline: none;
	color: var(--black);
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	background-color: var(--hover-item);
	transition: background-color .3s ease, color .3s ease;
	cursor: pointer;
}

.dots {
	display: flex;
	align-items: start;
	justify-content: center;
	width: 0;
	font-size: 20px;
	font-weight: 600;
	cursor: auto;
	background-color: transparent;
	animation: expanding 0.3s forwards;
}

.btn:hover {
	color: var(--bg);
	background-color: var(--primary-light);
}

.active {
	color: var(--bg);
	background-color: var(--primary);
}

@keyframes expanding {
	from {
		width: 0;
	}

	to {
		width: 53px;
	}
}