.dropdown {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 16px;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	transition: box-shadow .3s ease, background-color .3s ease;
}

.dropdown:hover {
	background-color: var(--hover-item);
	box-shadow: var(--shadow-hover);
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px 24px;
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

.wrapper {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.text {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--gray);
}

.icon {
	fill: var(--gray);
}

.dropdown__list {
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 10;
	display: none;
	flex-direction: column;
	width: 100%;
	padding: 8px 24px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	background-color: var(--bg);
	box-shadow: var(--shadow);
}

.dropdown__item {
	padding-top: 8px;
	padding-bottom: 8px;
}

.active__list {
	display: flex;
}

.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: var(--hover-item);
}