.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
	width: 100%;
	max-width: 26.188rem;
}

.btn,
.dots {
	width: 3.313rem;
	height: 2.75rem;
	padding: var(--spacing-sm);
	border: 0;
	border-radius: var(--border-radius-md);
	outline: none;
	color: var(--pagination-color-primary);
	font-size: 0.875rem;
	line-height: var(--spacing-lg);
	font-weight: 500;
	background-color: var(--pagination-hover-btn);
	transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
	cursor: pointer;
}

.dots {
	display: flex;
	align-items: start;
	justify-content: center;
	width: 0;
	font-size: var(--font-size-lg);
	font-weight: 600;
	cursor: auto;
	background-color: transparent;
	animation: expanding 0.3s forwards;
}

.btn:hover {
	color: var(--pagination-color-secondary);
	background-color: var(--accent-color-light);
}

.btn:focus {
	outline: 2px solid black;
}

.active {
	color: var(--pagination-color-secondary);
	background-color: var(--accent-color);
}

@keyframes expanding {
	from {
		width: 0;
	}

	to {
		width: 3.313rem;
	}
}