.list {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing-3xl);
	width: 100%;
	margin-bottom: auto;
}

.pagination__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: var(--spacing-3xl);
	padding-bottom: var(--spacing-3xl);
	width: 100%;
}

.error {
	display: flex;
	justify-content: center;
	vertical-align: top;
}