.item {
	width: 100%;
	border-radius: 16px;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	cursor: pointer;
	transition: box-shadow .3s ease;
}

.item:hover {
	box-shadow: var(--shadow-hover);
}

.form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px 24px;
}

.wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	column-gap: 16px;
}

.input {
	width: 100%;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--gray);
	background-color: transparent;
}

.input::placeholder {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--gray);
}

.text {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--gray);
}

.icon {
	fill: var(--gray);
}