.block {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing-3xl);
}

.heading {
	width: 100%;
	max-width: 16rem;
	min-height: var(--size-3xl);
	border-radius: var(--border-radius-md);
	background-color: var(--skeleton-bg);
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacing-3xl);
}