.dropdown {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 16px;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	transition: box-shadow .3s ease, background-color .3s ease;
}

.dropdown:hover {
	background-color: var(--hover-item);
	box-shadow: var(--shadow-hover);
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px 24px;
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

.wrapper {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.text {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--gray);
	transition: color .3s ease;
}

.icon {
	fill: var(--gray);
	transition: fill .3s ease, transform .3s ease;
}

.dropdown__list {
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 0;
	opacity: 0;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	overflow: hidden;
	overflow-y: auto;
	scrollbar-gutter: stable;
	transition: max-height .3s ease, opacity .3s ease;
}

.dropdown__list::-webkit-scrollbar {
	width: 4px;
}

.dropdown__list::-webkit-scrollbar-track {
	background-color: transparent;
}

.dropdown__list::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 7px;
}

.active__list {
	max-height: 384px;
	opacity: 1;
}

.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: var(--hover-item);
}

.active .text {
	color: var(--text-color);
}

.active .icon {
	fill: var(--text-color);
	transform: rotate(90deg);
}