.main {
	min-height: calc(100vh - 80px * 2);
}

.section {
	padding-top: 32px;
	padding-bottom: 32px;
}

.section:last-child {
	padding-bottom: 0;
}

.section:first-child {
	padding-top: 120px;
}

.section__hidden {
	position: absolute;
	left: -1000px;
	z-index: -1000;
	visibility: hidden;
}

.search__container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}