.item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px 24px;
	border-radius: 16px;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	transition: box-shadow .3s ease, background-color .3s ease;
	cursor: pointer;
}

.item:hover {
	background-color: var(--hover-item);
	box-shadow: var(--shadow-hover);
}

.active {
	background-color: var(--hover-item);
}

.wrapper {
	display: flex;
	align-items: center;
	column-gap: 16px;
	width: 100%;
}

.input {
	width: 100%;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--black);
	background-color: transparent;
}

.input::placeholder {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--dark-gray);
}

.text {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: var(--dark-gray);
}

.icon {
	fill: var(--dark-gray);
	transition: fill .3s ease;
}

.cross__icon {
	cursor: pointer;
}

.cross__icon:hover {
	fill: var(--primary);
}