.title {
	margin: 0;
	margin-bottom: var(--spacing-md);
	font-size: var(--font-size-md);
	font-weight: 700;
	line-height: var(--spacing-2xl);
	color: var(--text-color-primary);
}

.requirements__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: var(--spacing-3xl);
	margin-bottom: var(--spacing-3xl);
}

.requirements__item {
	display: flex;
	align-items: center;
	column-gap: var(--spacing-md);
	width: 100%;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: var(--spacing-lg);
	color: var(--text-color-primary);
	white-space: nowrap;
}