.company {
	position: sticky;
	top: 6.5rem;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	width: 100%;
	padding: var(--spacing-3xl);
	border-radius: var(--border-radius-md);
	background-color: var(--bg);
	box-shadow: var(--shadow);
}

.logo {
	max-width: 100%;
	margin-bottom: var(--spacing-md);
	border-radius: var(--border-radius-md);
}

.company__name {
	margin-bottom: var(--spacing-xs);
	font-size: var(--font-size-lg);
	font-weight: 700;
	line-height: var(--spacing-2xl);
	color: var(--text-color-primary);
}

.company__address {
	font-size: var(--font-size-md);
	font-weight: 500;
	line-height: var(--spacing-2xl);
	color: var(--text-color-primary);
}

@media (max-width: 64rem) {
	.company {
		flex-direction: row-reverse;
		align-items: center;
		column-gap: var(--spacing-xs);
		padding: var(--spacing-md);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		row-gap: var(--spacing-xs);
		width: 100%;
	}

	.company__name {
		margin: 0;
	}

	.logo {
		height: 3.75rem;
		margin: 0;
	}
}