.label {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 16px;
	cursor: pointer;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border: 1.5px solid var(--light-gray);
	border-radius: 4px;
	transition: border-color .3s ease;
}

.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	appearance: none;
}

.checkbox {
	width: 8px;
	height: 6px;
	outline: 0;
	transition: stroke .3s ease, border-color .3s ease;
	stroke: transparent;
}

.text {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: var(--text-color);
}

.wrapper:has(.checkbox__input:checked) {
	border-color: var(--primary);
}

.checkbox__input:checked+.checkbox {
	stroke: var(--primary)
}

.label:hover .wrapper {
	border-color: var(--primary-light);
}

.label:hover .checkbox__input:checked+.checkbox {
	stroke: var(--primary-light);
}