.label {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: var(--spacing-lg);
	cursor: pointer;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: var(--size-md);
	height: var(--size-md);
	border: 1.5px solid var(--checkbox-border-color);
	border-radius: var(--border-radius-2xs);
	transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	appearance: none;
}

.checkbox {
	width: var(--size-xs);
	height: 0.4rem;
	outline: 0;
	transition: stroke var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
	stroke: transparent;
}

.text {
	width: 100%;
	font-size: var(--font-size-sm);
	font-weight: 500;
	line-height: var(--spacing-md);
	color: var(--text-color-primary);
}

.wrapper:has(.checkbox__input:checked) {
	border-color: var(--accent-color);
}

.checkbox__input:checked+.checkbox {
	stroke: var(--accent-color)
}

.label:hover .wrapper {
	border-color: var(--accent-color-light);
}

.label:hover .checkbox__input:checked+.checkbox {
	stroke: var(--accent-color-light);
}

.wrapper:has(.checkbox__input:focus) {
	border-color: var(--accent-color)
}