.footer {
	width: 100%;
	padding-top: var(--spacing-3xl);
	padding-bottom: var(--spacing-3xl);
}

.footer__container {
	display: flex;
	align-items: center;
}

.footer__text {
	font-size: 14px;
	font-weight: 500;
	line-height: var(--spacing-md);
	color: var(--text-color-secondary);
}

.footer__link {
	text-decoration: underline;
}