.footer {
	padding-top: 32px;
	padding-bottom: 32px;
}

.footer__container {
	display: flex;
	align-items: center;
}

.footer__text {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: var(--gray);
}

.footer__link {
	text-decoration: underline;
}