.link__goback {
	display: flex;
	align-items: center;
	column-gap: var(--spacing-md);
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

.link__goback:focus-visible {
	outline: 2px solid black;
}

.arrow__left {
	width: var(--size-md);
	height: var(--size-md);
	transform: rotate(180deg);
	fill: var(--accent-color);
}

.link__text {
	font-size: 0.875rem;
	font-weight: 700;
	line-height: var(--spacing-lg);
	color: var(--accent-color);
}