.block {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing-3xl);
	width: 100%;
}

.heading {
	font-size: 24px;
	font-weight: 700;
	line-height: var(--line-height-3xl);
	color: var(--text-color-primary);
}

.list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0%, 1fr));
	gap: var(--spacing-3xl);
	width: 100%;
}