.block {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	width: 100%;
}

.heading {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: var(--black);
}

.list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0%, 1fr));
	gap: 32px;
	width: 100%;
}