.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	column-gap: var(--spacing-md);
	margin-bottom: var(--spacing-3xl);
	padding: var(--spacing-md) var(--spacing-xl);
	border: 2px solid var(--accent);
	border-radius: var(--border-radius);
	outline: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: var(--spacing-lg);
	color: var(--accent);
	background-color: transparent;
	cursor: pointer;
	transition: background-color .3s ease;
}

.btn:hover {
	background-color: var(--hover-item);
}

.icon {
	width: 20px;
	height: 20px;
	fill: var(--accent);
	stroke: var(--accent);
}